p {
  font-family: "Roboto", Arial;
  font-size: 14px;
  color: rgb(172, 172, 172);
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  background-color: rgb(4, 4, 4);
  padding-top: 80px;
  padding-left: 96px;
}

svg {
  fill: rgb(255, 255, 255);
}
