.header{
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
}

.left-section{
    background-color: lightblue;
    width: 240px;
}

.center-section{
    background-color: lightcoral;
    flex: 1;
    margin-left: 64px;
    margin-right: 32px;
    max-width: 640px;
}

.search-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 50vh;
}

.right-section{
    background-color: lightgreen;
    width: 200px;
}

