p {
    color: rgb(116, 116, 116);
    font-size: 16px;
    width : 320px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
input {
    border: 1px solid rgb(96, 96, 96);
    border-radius: 4px;
    width: 320px;
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.disclaimer {
    margin: 24px 0 24px 0;
    text-align: center;
}
button {
    background-color: rgb(19, 119, 227);
    border: none;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 320px;
    border-radius: 50vh;
    text-align: center;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}
