img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    vertical-align: middle;
}
input{
    color: rgb(96, 96, 96);
    font-size: 16px;
    border: none;
    width: 240px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left:12px;
    margin-right:12px;
}
.tweet-button {
    background-color: rgb(5, 143, 228);
    border: none;
    color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0 8px 0 8px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.tweet-button:hover {
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);
}